<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="shortcut icon" href="img/pokebola.ico" type="image/x-icon">
    <title>Document</title>
</head>

<body>
    <%- include('./partials/header.ejs') %>
        <section id="cadastro">
            <h2>Atualizaçao do Pokemon</h2>
            <form action="/update/<%= pokemon.id %>" method="get">
                <label for="nome">Nome: </label>
                <input type="text" id="nome" name="nome" value="<%= pokemon.nome %>">

                <label for="descricao">Descricao:</label>
                <input type="text" id="descricao" name="descricao" value="<%= pokemon.descricao %>">

                <label for="tipo">Tipo:</label>
                <input type="text" id="tipo" name="tipo" value="<%= pokemon.tipo %>">

                <label for="imagem">Link da imagem:</label>
                <input type="text" id="imagem" name="imagem" value="<%= pokemon.imagem %>">

                <button id="btnCadastrar" type="submit">Atualizar</button>
            </form>
        </section>
        <%- include('./partials/footer.ejs') %>
</body>

</html>