<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/img/pokebola.ico" type="image/x-icon">
    <title>Descriçao</title>
</head>

<body id="detalhes">
    <%- include('./partials/header.ejs') %>
        <main id="flex">
            <img src="<%= pokemon.imagem %>" alt="imagem Pokemon">
            <h3>Nome:
                <%= pokemon.nome %>
            </h3>
            <div class="boxes">
                <h4>Descricao:
                    <span>
                        <%= pokemon.descricao %>
                    </span>
                </h4>
            </div>
            <div class="boxes">
                <h4>Altura:
                    <span>
                        <%= pokemon.altura %>
                    </span>
                </h4>
            </div>
            <div class="boxes">
                <h4>Peso:
                    <span>
                        <%= pokemon.peso %>
                    </span>
                </h4>
            </div>
            <div class="boxes">
                <h4>Categoria:
                    <span>
                        <%= pokemon.categoria %>
                    </span>
                </h4>
            </div>
            <div class="boxes">
                <h4>Habilidade:
                    <span>
                        <%= pokemon.habilidade %>
                    </span>
                </h4>
            </div>
            <div class="boxes">
                <h4>Tipo:
                    <span>
                        <%= pokemon.tipo %>
                    </span>
                </h4>
            </div>
            <div class="boxes">
                <h4>Fraquezas:
                    <span>
                        <%= pokemon.fraquezas %>
                    </span>
                </h4>
            </div>
        </main>
        <%- include('./partials/footer.ejs') %>
</body>

</html>