<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="../public/img/pokebola.ico" type="image/x-icon">
    <title>Descriçao</title>
</head>

<body id="detalhes">
    <%- include('./partials/header.ejs') %>
        <main id="flex">
            <h4>Nome:
                <%= pokemon.nome %>
            </h4>
            <img src="<%= pokemon.imagem %>" alt="imagem Pokemon">
            <div class="boxes">
                <h4>Descricao:
                    <p>
                        <%= pokemon.descricao %>
                    </p>
                </h4>
            </div>
            <div class="boxes">
                <h4>altura:
                    <p>
                        <%= pokemon.altura %>
                    </p>
                </h4>
            </div>
            <div class="boxes">
                <h4>peso:
                    <p>
                        <%= pokemon.peso %>
                    </p>
                </h4>
            </div>
            <div class="boxes">
                <h4>Categoria:
                    <p>
                        <%= pokemon.categoria %>
                    </p>
                </h4>
            </div>
            <div class="boxes">
                <h4>Habilidade:
                    <p>
                        <%= pokemon.habilidade %>
                    </p>
                </h4>
            </div>
            <div class="boxes">
                <h4>Tipo:
                    <p>
                        <%= pokemon.tipo %>
                    </p>
                </h4>
            </div>
            <div class="boxes">
                <h4>Fraquezas:
                    <p>
                        <%= pokemon.fraquezas %>
                    </p>
                </h4>
            </div>
        </main>
        <%- include('./partials/footer.ejs') %>
</body>

</html>