<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="../public/img/pokebola.ico" type="image/x-icon">
    <title>Detalhes</title>
</head>

<body id="detalhes">
    <%- include('./partials/header.ejs') %>
        <main>
            <img src="<%= pokemon[0].imagem %>" alt="">
            <h2>
                <%= pokemon[0].nome %>
            </h2>
            <h3>
                <%= pokemon[0].id %>
            </h3>
            <h4>
                <%= pokemon[0].descricao %>
            </h4>

        </main>
        <%- include('./partials/footer.ejs') %>
</body>

</html>