<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="img/pokebola.ico" type="image/x-icon">
    <title>Pokedex</title>
</head>

<body>
    <%- include('./partials/header.ejs') %>
        <main>
            <section id="cards">

                <% pokedex.forEach((pokemon) => { %>
                    <a href="/detalhes/<%= pokemon.id %>">

                        <div class="card">
                            <img src="<%= pokemon.imagem %>" alt="">
                            <h2>
                                <%= pokemon.nome%>
                            </h2>
                            <p class="descricao">
                                <%= pokemon.peso %>
                            </p>
                            <p> Fraquezas
                                <%= pokemon.fraquezas %>
                            </p>
                            <p> Tipo:
                                <%= pokemon.tipo %>
                            </p>
                        </div>
                    </a>
                    <%  }) %>
            </section>
        </main>
        <%- include('./partials/footer.ejs') %>
</body>

</html>