<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="img/pokebola.ico" type="image/x-icon">
    <title>Pokedex</title>
</head>

<body>
    <%- include('./partials/header.ejs') %>
        <header>
            <img src="https://i.pinimg.com/originals/c4/28/7b/c4287b425c8b3ec7b1c50f4acbe332a0.jpg" alt="">
        </header>
        <main>
            <section id="cadastro">
                <% if(pokemon==undefined) {%>

                    <h2>Cadastre um novo Pokemon! </h2>

                    <form action="/create" method="POST">
                        <label for="nome">Nome: </label>
                        <input type="text" id="nome" name="nome">

                        <label for="descricao">Descricao:</label>
                        <input type="text" id="descricao" name="descricao">

                        <label for="tipo">Tipo:</label>
                        <input type="text" id="tipo" name="tipo">

                        <label for="imagem">Link da imagem:</label>
                        <input type="text" id="imagem" name="imagem">

                        <label for="altura">Altura:</label>
                        <input type="text" id="altura" name="altura">

                        <label for="peso">Peso:</label>
                        <input type="text" id="peso" name="peso">

                        <label for="categoria">Categoria:</label>
                        <input type="text" id="categoria" name="categoria">

                        <label for="habilidade">Habilidades:</label>
                        <input type="text" id="habilidade" name="habilidade">

                        <label for="fraquezas">Fraquezas:</label>
                        <input type="text" id="fraquezas" name="fraquezas">

                        <button id="btnCadastrar" type="submit">Cadastrar</button>
                    </form>
                    <% }else{ %>
                        <h2>Atualizaçao do Pokemon</h2>
                        <form action="/update/<%= pokemon.id %>" method="post">
                            <label for="nome ">Nome: </label>
                            <input type="text " id="nome" name="nome" value="<%= pokemon.nome %>">

                            <label for="tipo">Tipo:</label>
                            <input type="text" id="tipo" name="tipo" value="<%= pokemon.tipo %>">

                            <label for="imagem">Link da imagem:</label>
                            <input type="text" id="imagem" name="imagem" value="<%= pokemon.imagem %>">

                            <label for="descricao">Descricao:</label>
                            <input type="text" id="descricao" name="descricao" value="<%= pokemon.descricao %>">

                            <label for="altura">Altura:</label>
                            <input type="text" id="altura" name="altura" value="<%= pokemon.altura %>">

                            <label for="peso">Peso:</label>
                            <input type="text" id="peso" name="peso" value="<%= pokemon.peso %>">

                            <label for="categoria">Categoria:</label>
                            <input type="text" id="categoria" name="categoria" value="<%= pokemon.categoria %>">

                            <label for="habilidade">Habilidades:</label>
                            <input type="text" id="habilidade" name="habilidade" value="<%= pokemon.habilidade %>">

                            <label for="fraquezas">Fraquezas:</label>
                            <input type="text" id="fraquezas" name="fraquezas" value="<%= pokemon.fraquezas %>">

                            <button id="btnAtualizar" type="submit">Atualizar</button>
                        </form>
                        <% }%>
            </section>
            <section id="cards">

                <h2>Lista de Pokemons</h2>
                <% pokedex.forEach((pokemon) => { %>
                    <a href="/descricao/<%=pokemon.id%>" id="box">
                        <div class="card">
                            <img src="<%= pokemon.imagem %>" alt="imagem pokemon">
                            <h3>
                                <%= pokemon.nome%>
                            </h3>
                            <p class="descricao">
                                <%= pokemon.descricao %>
                            </p>
                            <p> Tipo:
                                <%= pokemon.tipo %>
                            </p>
                            <a href="/detalhes/<%=pokemon.id%>" id="editar">Editar</a>
                            <a href="/delete/<%=pokemon.id%>" id="apagar">Apagar</a>
                        </div>
                    </a>
                    <% }) %>
            </section>
        </main>
        <%- include('./partials/footer.ejs') %>
</body>

</html>